:root {
  --secondary-color: #99a4a4;
  --sunflower-yellow: #ffcd00;
  --light-navy: #112d68; 
  --current-color: #26666b;
  --heart-color: #ff741d;
  --max-width: 1024px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*reset*/
html body{
  font-family: Arial, 'Karla', sans-serif;
  color: #000000;
  line-height: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
ul li {
  list-style-type: none;
}
img {
  width: 100%;
}
/*Utility*/
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem 1.5rem;
  overflow: hidden;
}
.red-head {
  color: var(--heart-color);
}
.current {
  background-color: var(--current-color);
  color: #f4f4f4;
}
.center {
  margin: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto 2.7fr 1fr;
  position: relative;
  padding: .5rem 0;
}
/*Shop Bar*/
.shop-bar {
  font-family: 'karla', sans-serif;
  font-size: 17px;
  background: #fff;
  display: flex;
  position: absolute;
  z-index: 2;
  margin: auto;
}
.shop-bar > span {
  color: var(--secondary-color);
}
  /*Page Numbers*/
.shop-bar .howtopag {
  color: var(--secondary-color);
}
.shop-bar .howtopag .current {
  background: var(--current-color);
  padding: 5px;
  color: #fff;
}
.shop-bar .howtopag a {
  color: #99a4a4;
  margin-left: 2px;
}
.shop-bar .howtopag a:hover:not(.current) {
  color: var(--current-color);
}

  /*Bar Menu*/
.menu-relevance {
  margin-left: 20px;
  width: 222px;
  height: 46px;
  border-radius: 5px;
  background: #f4f5f8;
  padding: 14px 18px;
  cursor: pointer;
  display: flex;
}
.menu-relevance ul {
  height: 100%;
  width: 100%;
  position: relative;
}
.menu-relevance ul li > div {
  display: inline-block;
}
.menu-relevance ul li i {
  position: absolute;
  right: 0;
}

.menu-relevance ul li ul {
  display: none;
  background: #f4f2f8;
  opacity: 0.9;
  width: 222px;
  height: 170px;
  position: absolute;
  left: -18px;
  top: 2.1rem;
  box-shadow:  8px 8px  #26666b;
  border-radius: 0 0 5px 5px;
}
.menu-relevance ul li ul li a {
  display: block;
  padding: 1rem;
  margin: .2rem 0;
}
.menu-relevance ul li ul li:hover:not(.current) {
  background-color: #3a9ca3;
  color: #fff;
}
/*The shop counter*/
.shop-counter {
  padding: 1rem 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}
  /*The targets*/ 
.shop-counter .target {
  display: grid;
  box-shadow: 1px 1px 1px 1px rgb(214, 214, 214);
  border-radius: 5px;
}
.shop-counter .target:hover {
  opacity: 0.8;
}
.tag-info {
  margin: 0 10px 19px 16px;
}
.shop-counter .tag-img img {
  min-width: 270px;
  min-height: 270px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 1rem;
}
  /*locate*/
.shop-counter .tag-info p:first-child {
  color: var(--secondary-color);
  margin-bottom: 5px;
}
  /*price*/
.shop-counter .tag-info p:nth-child(3) {
  color: var(--light-navy);
  margin-top: 4px;
  font-weight: bolder;
  
}
  /*score*/
.shop-counter .tag-info p:last-child{
  margin-top: 2rem;
  color: var(--secondary-color);
  font-size: 13px;
  position: relative;
}
.shop-counter .tag-info p:last-child i:first-child {
  color: var(--sunflower-yellow);
  margin-right: 6px;
}
/*Heart*/
.shop-counter .tag-info p:last-child i:last-child {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.shop-counter .tag-info p:last-child i:last-child:hover {
  color: var(--heart-color);
}










